@{
    ViewBag.Title = "Games History";
}

<div class="jumbotron" style="text-align: center">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col">Start Time</th>
				<th scope="col">White</th>
				<th scope="col">Black</th>
				<th scope="col">Winner</th>
				<th scope="col">End Time</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var row in ViewBag.data)
			{
				<tr>
					<td>
						@row.StartTime
					</td>
					<td>
						@row.WhitePlayerName
					</td>
					<td>
						@row.BlackPlayerName
					</td>
					<td>
						@row.WinnerName
					</td>
					<td>
						@row.EndTime
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

